@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter_Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter_Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter_Black.ttf);
  font-weight: 900;
}
